<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.savanto.signalflagskb"
    >
    <application
        android:allowBackup="false"
        android:label="@string/ime_name"
        android:icon="@drawable/ahoy"
        >
        <service
            android:name="com.savanto.signalflagskb.SignalFlagsInputMethodService"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:icon="@drawable/ahoy"
            android:label="@string/ime_name"
            >
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method"
                />
        </service>
        <activity
            android:name=".SignalFlagsSettings"
            android:label="@string/settings_name"
            android:icon="@drawable/ahoy"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
</manifest>
